{% extends 'base.html'%}

{% block content %}

{% load static %}


<!-- Header-->
<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
        </div>
    </div>
</header>

<div class = "container">
    <div class="row">
        <Center>
            <div class="col-8">
                <br>
               <h1>Environmental</h1>
              

               <p align="center">
                    We’re committed to protecting the environment and conserving natural resources.
                </p>
                <br>
                <h1>Social</h1> 
              
               <p align="center">
                We’re committed to doing what’s right for our employees, customers and communities.
                </p>
                <br>
                <h1>Governance</h1> 
              
               <p align="center">
                We’re committed to good corporate practices and a sound governance structure.
                </p><br><h1>Awards & Recognition</h1> 
                <p align="center">
                    Political Engagement and Government Affairs Policy,
 
                    Code of Ethics,
                    GHG Verification Statement,
                     
                    Conflict Minerals Report,
                     
                    EE0-1 Report (2021),
                     
                    Conflict Minerals Statement,
                     
                    Chemical Management Statement,
                     
                    EEO-1 Report (2022),
                     
                    Climate Change Statement,
                     
                    Human Rights Statement,
                     
                    Supplier Code of Conduct,
                     
                    Environmental Statement,
                     
                    Non-Discrimination Statement,
                     
                    Forest Stewardship Council,
                     
                    Standards for Recyclers,
                     
                    Sustainable Packaging Statement,
                     
                    Water Statement,
                    
                 </p>
            </div>
        </Center>
    </div>
</div>

{% endblock %}